<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="display-3" style="text-align: center;" >Sign up</h1>
                <%- include("../partials/flash") %>
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" >
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email"> 
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="number">Number</label>
                        <input class="form-control" type="text" name="number" id="number" placeholder="Enter the Number"> 
                    </div>

                   
                    <button type="submit" class="btn btn-success">SignUp</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</main>


<%- include("../partials/footer") %>