<%- include("./partials/header") %>
<!-- <%- include("./partials/navbar") %> -->


<h1 class="text-capitalized " style="background: red; text-align: center;">
    Some Error Occured
</h1>


<%- include("./partials/footer") %>



